<body
  class="flex flex-col gap-8 mt-6 text-[12px] md:text-2xl leading-6 md:leading-12 text-[#b2c8d8]"
>
  <p-fieldset legend="Marketing Analytics Desktop App (MMM)">
    <p class="m-0">
      <span class="text-[#b2c8d8]"
        >✦ Developed an app for marketing mix modeling with interactive data
        visualizations
      </span>
      <br />
      <span class="text-[#b2c8d8]"
        >✦ Provides insights into marketing effectiveness, performance tracking,
        and trend analysis
      </span>
      <br />
      <span class="period md:text-xl text-[16px] text-gray-400"
        >Tech Stack: JavaFX, Java, JUnit, JFreeChart, FXML, CSS
      </span>
    </p>
  </p-fieldset>
  <p-fieldset legend="Hybrid Work Management System">
    <p class="m-0">
      <span class="text-[#b2c8d8]"
        >✦ Built a Spring Boot & Angular microservices app for managing hybrid
        workspaces
      </span>
      <br />
      <span class="text-[#b2c8d8]"
        >✦ Features real-time availability tracking, booking, and scheduling
      </span>
      <br />
      <span class="period md:text-xl text-[16px] text-gray-400"
        >Tech Stack: Angular, Spring Boot, Oracle SQL, Keycloak, Eureka, API
        Gateway
      </span>
    </p>
  </p-fieldset>
  <p-fieldset legend="Project Launch & Learning Platform">
    <p class="m-0">
      <span class="text-[#b2c8d8]"
        >✦ Built a MEAN stack platform that connects aspiring entrepreneurs with
        professionals for funding, mentorship, and skill development
      </span>
      <br />
      <span class="text-[#b2c8d8]"
        >✦ Empowers users to launch projects and seek financial & skill-based
        support from industry experts
      </span>
      <br />
      <span class="text-[#b2c8d8]"
        >✦ Allows professionals to showcase courses, offer mentorship, and share
        expertise
      </span>
      <br />
      <span class="period md:text-xl text-[16px] text-gray-400"
        >Tech Stack: Angular, Node.js, Express.js, MongoDB, JWT Authentication,
        Role-Based Access Control (RBAC)
      </span>
    </p>
  </p-fieldset>
</body>
