<body class="mt-6">
  <p-panel header="">
    <p class="text-[12px] md:text-3xl leading-6 md:leading-12 text-[#b2c8d8]">
      My expertise goes beyond just knowing these technologies—I’ve implemented
      them in real-world projects, solving complex challenges and optimizing
      performance along the way. From building
      <span class="highlight-orange">scalable SaaS applications</span> with
      <span class="highlight-purple">Angular</span> and
      <span class="highlight-orange">Spring Boot</span> to designing
      <span class="highlight-green">efficient backend architectures</span> with
      <span class="highlight-blue">Node.js</span> and
      <span class="highlight-purple">FastAPI</span>, each skill I’ve acquired
      comes from hands-on experience. Every project has refined my ability to
      <span class="highlight-green">think critically</span>, adapt to new tools,
      and write
      <span class="highlight-blue">clean, maintainable code</span> that delivers
      <span class="highlight-orange">real value</span>.
    </p>
  </p-panel>
  <section class="flex flex-row flex-wrap justify-center gap-6 mt-4">
    <p-card header="Frontend">
      <p-chip
        label="Angular"
        icon="fa-brands fa-angular"
        [style]="{ margin: '.5rem' }"
      />
      <p-chip
        label="React.js"
        icon="fa-brands fa-react"
        [style]="{ margin: '.5rem' }"
      />
      <p-chip
        label="JavaFX"
        icon="fa-brands fa-java"
        [style]="{ margin: '.5rem' }"
      />
      <p-chip
        label="HTML"
        icon="fa-brands fa-html5"
        [style]="{ margin: '.5rem' }"
      />
      <p-chip
        label="CSS"
        icon="fa-brands fa-css3"
        [style]="{ margin: '.5rem' }"
      />
      <p-chip
        label="JavaScript"
        icon="fa-brands fa-js"
        [style]="{ margin: '.5rem' }"
      />
    </p-card>
    <p-card header="Backend">
      <p-chip
        label="Spring Boot"
        icon="fa-brands fa-java"
        [style]="{ margin: '.5rem' }"
      />
      <p-chip
        label="Node.js"
        icon="fa-brands fa-node-js"
        [style]="{ margin: '.5rem' }"
      />
      <p-chip
        label="FastAPI"
        icon="fa-brands fa-python"
        [style]="{ margin: '.5rem' }"
      />
      <p-chip
        label="Express.js"
        icon="fa-brands fa-js"
        [style]="{ margin: '.5rem' }"
      />
    </p-card>
    <p-card header="Databases">
      <p-chip
        label="MongoDB"
        icon="fa-solid fa-database"
        [style]="{ margin: '.5rem' }"
      />
      <p-chip
        label="PostgreSQL"
        icon="fa-solid fa-database"
        [style]="{ margin: '.5rem' }"
      />
      <p-chip
        label="SQL"
        icon="fa-solid fa-database"
        [style]="{ margin: '.5rem' }"
      />
      <p-chip
        label="Oracle SQL"
        icon="fa-solid fa-database"
        [style]="{ margin: '.5rem' }"
      />
    </p-card>
    <p-card header="DevOps & Tools">
      <p-chip
        label="Git"
        icon="fa-brands fa-git"
        [style]="{ margin: '.5rem' }"
      />
      <p-chip
        label="Bitbucket"
        icon="fa-brands fa-bitbucket"
        [style]="{ margin: '.5rem' }"
      />
      <p-chip
        label="GitHub"
        icon="fa-brands fa-github"
        [style]="{ margin: '.5rem' }"
      />
      <p-chip
        label="Jira"
        icon="fa-brands fa-jira"
        [style]="{ margin: '.5rem' }"
      />
      <p-chip
        label="Keycloack"
        icon="fa-brands fa-redhat"
        [style]="{ margin: '.5rem' }"
      />
      <p-chip
        label="API Gateway"
        icon="fa-solid fa-server"
        [style]="{ margin: '.5rem' }"
      />
    </p-card>
    <p-card header="Software Development">
      <p-chip
        label="System Design"
        icon="fa-solid fa-sitemap"
        [style]="{ margin: '.5rem' }"
      />
      <p-chip
        label="Problem Solving"
        icon="fa-solid fa-lightbulb"
        [style]="{ margin: '.5rem' }"
      />
      <p-chip
        label="JUnit Testing"
        icon="fa-solid fa-code"
        [style]="{ margin: '.5rem' }"
      />
    </p-card>
  </section>
</body>
